<p>
  <%= if same_user(@conn, @event.user_id) do %>
    <span><%= link "Edit", class: "btn btn-primary", to: Routes.event_path(@conn, :edit, @event) %></span>
  <% end %>
  <span><%= link "Back", class: "btn btn-primary", to: Routes.event_path(@conn, :index) %></span>
</p>

<h1><%= @event.name %></h1>
<h2>by <%= @event.user.name %></h2>
<img src="<%= Routes.user_path(@conn, :photo, @event.user) %>" alt="A profile picture." alt="">

<div>
  On <%= @event.date %>: <%= @event.body %>
</div>
