<p>
  <span><%= link "Edit", to: Routes.event_path(@conn, :edit, @event) %></span>
  <span><%= link "Back", to: Routes.event_path(@conn, :index) %></span>
</p>

<h1>Show Event #<%= @event.id %></h1>

<div>
  On <%= @event.date %>: <%= @event.body %>
</div>
