<div class="row">
  <div class="col">
    <h1>Photo Feed</h1>
  </div>
</div>

<div class="row">
  <%= for event <- @events do %>
    <div class="col-sm-4 card">
      <!--
      <img class="card-img-top" src="" alt="">
      -->
      <div class="card-body">
        <p class="card-text"><%= event.body %></p>
        <%= link "view", to: Routes.event_path(@conn, :show, event) %>
      </div>
    </div>
  <% end %>
</div>
